*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212121;
}
.clock{
    height: 40vw;
    width: 40vw;    
    background: url(clock.png);
    background-repeat: no-repeat;    
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hour, .minute, .second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
.hour{
    width: 2.5%;
    height: 25%;
    top: 25%;
    left: 48.5%;
    opacity: 0.8;
    /* display: none; */
}
.minute{
    width: 1.5%;
    height: 30%;
    top: 21%;
    left: 49%;
    opacity: 0.8;
    /* display: none; */
}
.second{
    width: 0.5%;
    height: 28%;
    top: 22%;
    left: 49.5%;
    opacity: 0.8;
    /* display: none; */
}
@media(width < 500px){
    .clock{
        height: 80vw;
        width: 80vw;  
    } 
}
@media(width < 700px){
    .clock{
        height: 70vw;
        width: 70vw;  
    } 
}
@media(width < 1050px){
    .clock{
        height: 60vw;
        width: 60vw;  
    } 
}